USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 22.05.2026 7:47:34 ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22.05.2026 7:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[QrCode] [nvarchar](128) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationHistory]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](20) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[MaterialId] [int] NULL,
	[ActionType] [int] NOT NULL,
	[FromLocation] [nvarchar](20) NOT NULL,
	[ToLocation] [nvarchar](20) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Reason] [nvarchar](250) NOT NULL,
	[Comment] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_OperationHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [int] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseCells]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseCells](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[Column] [int] NOT NULL,
	[MaterialId] [int] NULL,
 CONSTRAINT [PK_WarehouseCells] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 22.05.2026 7:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rows] [int] NOT NULL,
	[Columns] [int] NOT NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit], [CreatedAt], [QrCode], [Status]) VALUES (1, N'Болт М6', 1000, 1, N'шт', CAST(N'2026-05-10T14:30:23.5600000' AS DateTime2), N'', 0)
INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit], [CreatedAt], [QrCode], [Status]) VALUES (2, N'Гайка М6', 1200, 1, N'шт', CAST(N'2026-05-10T14:30:23.5600000' AS DateTime2), N'', 0)
INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit], [CreatedAt], [QrCode], [Status]) VALUES (3, N'Шайба 6мм', 800, 1, N'шт', CAST(N'2026-05-10T14:30:23.5600000' AS DateTime2), N'', 0)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationHistory] ON 

INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity], [UserId], [MaterialId], [ActionType], [FromLocation], [ToLocation], [UserName], [Reason], [Comment]) VALUES (1, CAST(N'2025-12-11T11:23:20.2800000' AS DateTime2), N'Поступление', N'A1', N'Болт М6', 500, 2, 1, 1, N'', N'', N'', N'', N'')
INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity], [UserId], [MaterialId], [ActionType], [FromLocation], [ToLocation], [UserName], [Reason], [Comment]) VALUES (2, CAST(N'2025-12-11T11:23:20.2800000' AS DateTime2), N'Поступление', N'B2', N'Гайка М6', 600, 2, 2, 1, N'', N'', N'', N'', N'')
INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity], [UserId], [MaterialId], [ActionType], [FromLocation], [ToLocation], [UserName], [Reason], [Comment]) VALUES (3, CAST(N'2025-12-11T11:23:20.2800000' AS DateTime2), N'Отгрузка', N'C3', N'Шайба 6мм', 200, 2, 3, 1, N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[OperationHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [FullName], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', 0, N'System Administrator', 1, CAST(N'2025-12-11T11:09:09.4133333' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [FullName], [IsActive], [CreatedAt]) VALUES (2, N'storekeeper1', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 1, N'Кладовщик', 1, CAST(N'2025-12-11T11:09:09.4133333' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role], [FullName], [IsActive], [CreatedAt]) VALUES (3, N'auditor1', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 2, N'Аудитор', 1, CAST(N'2025-12-11T11:09:09.4133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseCells] ON 

INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (129, 1, 0, 0, NULL)
INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (130, 1, 0, 1, NULL)
INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (131, 1, 0, 2, NULL)
SET IDENTITY_INSERT [dbo].[WarehouseCells] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([Id], [Rows], [Columns]) VALUES (1, 8, 8)
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Materials_QrCode]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_Materials_QrCode] ON [dbo].[Materials]
(
	[QrCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_Type]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_Type] ON [dbo].[Notifications]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperationHistory_MaterialId]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_OperationHistory_MaterialId] ON [dbo].[OperationHistory]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OperationHistory_UserId]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_OperationHistory_UserId] ON [dbo].[OperationHistory]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 22.05.2026 7:47:35 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseCells_MaterialId]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseCells_MaterialId] ON [dbo].[WarehouseCells]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseCells_WarehouseId]    Script Date: 22.05.2026 7:47:35 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseCells_WarehouseId] ON [dbo].[WarehouseCells]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materials] ADD  CONSTRAINT [DF_Materials_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Materials] ADD  CONSTRAINT [DF_Materials_QrCode]  DEFAULT ('') FOR [QrCode]
GO
ALTER TABLE [dbo].[Materials] ADD  CONSTRAINT [DF_Materials_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_ActionType]  DEFAULT ((1)) FOR [ActionType]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_FromLocation]  DEFAULT ('') FOR [FromLocation]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_ToLocation]  DEFAULT ('') FOR [ToLocation]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_UserName]  DEFAULT ('') FOR [UserName]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_Reason]  DEFAULT ('') FOR [Reason]
GO
ALTER TABLE [dbo].[OperationHistory] ADD  CONSTRAINT [DF_OperationHistory_Comment]  DEFAULT ('') FOR [Comment]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT ((8)) FOR [Rows]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT ((8)) FOR [Columns]
GO
ALTER TABLE [dbo].[OperationHistory]  WITH CHECK ADD  CONSTRAINT [FK_OperationHistory_Materials_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OperationHistory] CHECK CONSTRAINT [FK_OperationHistory_Materials_MaterialId]
GO
ALTER TABLE [dbo].[OperationHistory]  WITH CHECK ADD  CONSTRAINT [FK_OperationHistory_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperationHistory] CHECK CONSTRAINT [FK_OperationHistory_Users_UserId]
GO
ALTER TABLE [dbo].[WarehouseCells]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseCells_Materials_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[WarehouseCells] CHECK CONSTRAINT [FK_WarehouseCells_Materials_MaterialId]
GO
ALTER TABLE [dbo].[WarehouseCells]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseCells_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseCells] CHECK CONSTRAINT [FK_WarehouseCells_Warehouses_WarehouseId]
GO
USE [master]
GO
