USE [WarehouseDB]
GO
ALTER TABLE [dbo].[WarehouseCells] DROP CONSTRAINT [FK_WarehouseCells_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[WarehouseCells] DROP CONSTRAINT [FK_WarehouseCells_Materials_MaterialId]
GO
/****** Object:  Index [IX_WarehouseCells_WarehouseId]    Script Date: 20.06.2025 0:14:21 ******/
DROP INDEX [IX_WarehouseCells_WarehouseId] ON [dbo].[WarehouseCells]
GO
/****** Object:  Index [IX_WarehouseCells_MaterialId]    Script Date: 20.06.2025 0:14:21 ******/
DROP INDEX [IX_WarehouseCells_MaterialId] ON [dbo].[WarehouseCells]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 20.06.2025 0:14:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Warehouses]') AND type in (N'U'))
DROP TABLE [dbo].[Warehouses]
GO
/****** Object:  Table [dbo].[WarehouseCells]    Script Date: 20.06.2025 0:14:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WarehouseCells]') AND type in (N'U'))
DROP TABLE [dbo].[WarehouseCells]
GO
/****** Object:  Table [dbo].[OperationHistory]    Script Date: 20.06.2025 0:14:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OperationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[OperationHistory]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 20.06.2025 0:14:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Materials]') AND type in (N'U'))
DROP TABLE [dbo].[Materials]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.06.2025 0:14:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 20.06.2025 0:14:21 ******/
DROP DATABASE [WarehouseDB]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 20.06.2025 0:14:21 ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.06.2025 0:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 20.06.2025 0:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationHistory]    Script Date: 20.06.2025 0:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](20) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OperationHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseCells]    Script Date: 20.06.2025 0:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseCells](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[Column] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
 CONSTRAINT [PK_WarehouseCells] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 20.06.2025 0:14:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rows] [int] NOT NULL,
	[Columns] [int] NOT NULL,
 CONSTRAINT [PK_Warehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250619204915_InitialCreate', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit]) VALUES (1, N'Кабель ВВГнг 3x1.5', 0, 0, N'м')
INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit]) VALUES (2, N'Труба ППР 20мм', 0, 1, N'м')
INSERT [dbo].[Materials] ([Id], [Name], [Quantity], [Type], [Unit]) VALUES (3, N'Молоток', 0, 2, N'шт.')
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationHistory] ON 

INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity]) VALUES (1, CAST(N'2025-06-19T23:49:49.4502116' AS DateTime2), N'Добавление', N'1-1', N'Кабель ВВГнг 3x1.5', 1)
INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity]) VALUES (2, CAST(N'2025-06-19T23:49:50.3820563' AS DateTime2), N'Добавление', N'1-2', N'Труба ППР 20мм', 1)
INSERT [dbo].[OperationHistory] ([Id], [Timestamp], [Action], [Location], [MaterialName], [Quantity]) VALUES (3, CAST(N'2025-06-19T23:49:51.2811027' AS DateTime2), N'Добавление', N'2-1', N'Молоток', 1)
SET IDENTITY_INSERT [dbo].[OperationHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseCells] ON 

INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (83, 1, 0, 0, 7)
INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (84, 1, 0, 1, 8)
INSERT [dbo].[WarehouseCells] ([Id], [WarehouseId], [Row], [Column], [MaterialId]) VALUES (85, 1, 0, 2, 26)
SET IDENTITY_INSERT [dbo].[WarehouseCells] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([Id], [Rows], [Columns]) VALUES (1, 2, 4)
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
/****** Object:  Index [IX_WarehouseCells_MaterialId]    Script Date: 20.06.2025 0:14:21 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseCells_MaterialId] ON [dbo].[WarehouseCells]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseCells_WarehouseId]    Script Date: 20.06.2025 0:14:21 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseCells_WarehouseId] ON [dbo].[WarehouseCells]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WarehouseCells]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseCells_Materials_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseCells] CHECK CONSTRAINT [FK_WarehouseCells_Materials_MaterialId]
GO
ALTER TABLE [dbo].[WarehouseCells]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseCells_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarehouseCells] CHECK CONSTRAINT [FK_WarehouseCells_Warehouses_WarehouseId]
GO
USE [master]
GO
